* {
  font-family: "Montserrat", sans-serif !important;
}
:root {
  /* font-family: "Montserrat", sans-serif !important; */
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  --body: #fff;
  --black: #000;
  --white: #fff;
  --theme: #399051;
  --themeTua: #0a7e66;
  --theme2: #daaf15;
  --theme2Hover: #caa007;
  --theme2b: #de5433;
  --gradient-theme: linear-gradient(to right, var(--theme), var(--themeTua));
  --header: #0f0d1d;
  --text: #445375;
  --border: #d4dcff;
  --border-2: #d4dced;
  --bg: #f3f7fb;
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.bg-light {
  background-color: white !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.container-home {
  background-image: var(--gradient-theme);
}

.bg-theme2 {
  background-color: var(--theme2);
  transition: 0.5s;
}

.bg-theme2:hover {
  background-color: var(--theme2Hover);
}

.container .hexagonArea.last {
  transform: translateY(-30px);
}

.container .hexagonArea.last.genap {
  transform: translateY(-30px) translateX(25%);
}
.hexagon {
  position: relative;
  width: 120px;
  height: 150px;
  margin: 0 8px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background-color: var(--theme2);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: 0.5s;
  cursor: pointer;
}

.hexagon:hover {
  background-image: var(--gradient-orange);
  transform: scale(0.95);
}

.btn-home-logout:hover {
  background-color: var(--theme2b);
  transition: 0.5s;
}
